body {
    display: flex;
    justify-content: center;
    background: #e4e4e4;

}

.page {
    margin-top: 40px;
    width: 500px;
    background: white;
    padding: 75px;
    border-radius: 10px;
    text-align: center;
 
}

#logo {
    width: 300px;
}

h1 {
    margin: 40px 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

p {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}


a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

#whatsButton {
    background-color: forestgreen;
    font-family: 'Open Sans', sans-serif;
    border-style: none;

    
    border-radius: 4px;

    cursor: pointer;

}

#emailButton {
    background-color: dodgerblue;
    font-family: 'Open Sans', sans-serif;
    border-style: none;

    display: flex;
    align-items: center;
    gap: 10px;
    
    border-radius: 4px;

    cursor: pointer;
}